/* Leaflet requires its CSS */
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html, body, #root {
  height: 100%;
}

.scroll-top {
  position: fixed;
  right: 1rem;
  bottom: 1.25rem;
  z-index: 60;
}
